DB_NAME=Candilicious
TOKEN=YOU_GET_THIS_ON_DISCORD_DEV_PORTAL
DISCORD_CLIENT_ID=YOU_GET_THIS_ON_DISCORD_DEV_PORTAL
DISCORD_CLIENT_SECRET=YOU_GET_THIS_ON_DISCORD_DEV_PORTAL
MONGODB_URI=mongodb://localhost:27017
WEBSITE_DOMAIN=http://localhost:10301
WEBSITE_APP_PORT =10301
FRONTEND_DOMAIN=http://localhost:3000
SECRET_KEY=at_least_32_characters_long_secret_key_here
NGROK_AUTH_TOKEN=NGROK_AUTHORIZATION_TOKEN_HERE