DB_NAME=Candilicious
TOKEN=DISCORD_BOT_TOKEN_HERE
APPLICATION_ID=YOUR_DISCORD_APPLICATION_ID_HERE
MONGODB_URI=mongodb://localhost:27017
FLASK_DOMAIN=http://localhost:10301
FLASK_APP_PORT=10301
SECRET_KEY=YOUR_SECRET_KEY_HERE_ANYTHING
NGROK_AUTH_TOKEN=NGROK_AUTHORIZATION_TOKEN_HERE